@model IEnumerable<MVCAppUsingAjax.Models.Product>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.13.2.min.js"></script>
    <link href="~/Content/themes/ui-darkness/jquery.ui.theme.css" rel="stylesheet" />
    <title>DisplayProducts</title>
</head>
<body>
    <div>
        @using(Html.BeginForm("SearchProduct","Product"))
        {
            <center>
                <b>Product Name:</b>
                @Html.TextBox("SearchTerm")
                <input type="submit" id="btnSubmit" value="Search"/>
            </center>
        }
        <table border="1" align="center">
            <caption>Product Details</caption>
            <tr>
                <th>@Html.DisplayNameFor(P=>P.ProductID)</th>
                <th>@Html.DisplayNameFor(P=>P.ProductName)</th>
                <th>@Html.DisplayNameFor(P=>P.CategoryID)</th>
                <th>@Html.DisplayNameFor(P=>P.UnitPrice)</th>
                <th>@Html.DisplayNameFor(P=>P.UnitsInStock)</th>
            </tr>
            @foreach(var Product in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(P => Product.ProductID)</td>
                    <td>@Html.DisplayFor(P => Product.ProductName)</td>
                    <td>@Html.DisplayFor(P => Product.CategoryID)</td>
                    <td>@Html.DisplayFor(P => Product.UnitPrice)</td>
                    <td>@Html.DisplayFor(P => Product.UnitsInStock)</td>
                </tr>
            }
        </table>
    </div>
    <script>
        $(function () {
            $("#SeachTerm").autocomplete({
                source: '@Url.Action("GetProducts")'
            });
        });
    </script>
</body>
</html>
